.main-box {
  width: 60vw;
  height: 50vh;
  border: 2px solid rgb(136, 136, 247);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-title {
  font-size: x-large;
  color: rgb(249, 213, 167);
}
.s-button {
  background-color: rgb(136, 136, 247);
  padding: 10px;
  color: white;
  border-radius: 10px;
  margin-top: -6%;
  font-weight: 600;
}
.s-button:hover {
  background-color: tomato;
}
